<div id="slickSlider-main" class="slick-slider">
    <div class="slide-item"><img src="images/bg/desk/main_bg.jpg" alt="slide-image" class="slide-image"></div>
    <div class="slide-item"><img src="images/bg/desk/main_bg.jpg" alt="slide-image" class="slide-image"></div>
    <div class="slide-item"><img src="images/bg/desk/main_bg.jpg" alt="slide-image" class="slide-image"></div>
    <div class="slide-item"><img src="images/bg/desk/main_bg.jpg" alt="slide-image" class="slide-image"></div>
    <div class="slide-item"><img src="images/bg/desk/main_bg.jpg" alt="slide-image" class="slide-image"></div>
</div>
<div id="slickSlider-thumb" class="slick-slider">
    <div class="slide-item"><img src="images/bg/desk/main_bg.jpg" alt="slide-image" class="slide-image"></div>
    <div class="slide-item"><img src="images/bg/desk/main_bg.jpg" alt="slide-image" class="slide-image"></div>
    <div class="slide-item"><img src="images/bg/desk/main_bg.jpg" alt="slide-image" class="slide-image"></div>
    <div class="slide-item"><img src="images/bg/desk/main_bg.jpg" alt="slide-image" class="slide-image"></div>
    <div class="slide-item"><img src="images/bg/desk/main_bg.jpg" alt="slide-image" class="slide-image"></div>
</div>